.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  height: 60px;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #E8E8E8;
}

  .header_cont {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    align-items: center;
    height: 100%;
  }
  .header_title {
    font-size: 22px;
  }
  .header_r {
    display: flex;
  }
  .header_search {
    font-size: 16px;
    margin-left: 20px;
  }
  .header_nav {
    display: flex;
    font-size: 16px;;
  }
  .header_nav li a {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  .header_nav li a div:nth-child(1) {
    color: #4F4F4F;
    font-size: 12px;
    margin-right: 2px;
  }

  .header_nav li a:hover div {
    color: #009933;
  }
  .isActive {
    color: #009933 !important;
  }
  .isActive div {
    color: #009933 !important;
  }
.content {
  flex-grow: 1;
  width: 1200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
  .cont_l {
    flex: 1;
    padding-top: 80px;
  }
    .cont_l_item {
      width: 100%;
      display: flex;
      overflow: hidden;
      background: #fff;
      margin-top: 16px;
      border-radius: 6px;
      color: #848484;
      font-size: 14px;
    }
    .cont_l a:nth-child(1) .cont_l_item{
      margin-top: 0;
    }
      .cont_item_img {
        width: 30%;
        margin: 10px;

      }
      .cont_item_img img {
        width: 100%;
        height: 100%;
      }

      .cont_l_item_cont {
        padding: 16px;
        flex: 1;
      }
      .cont_l_item_title {
        font-size: 18px;
        font-weight: 600;
        color: #222;
      }
      .cont_l_item_text {
        margin: 16px 0 14px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .cont_l_item_tag {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
      }
      .cont_l_item_tag li {
        margin-top: 4px;
        margin-right: 20px;
        color: #222;
      }
      .cont_l_item_tag_span {
        margin-left: 4px;
      }
  .cont_r {
    margin-left: 16px;
    width: 180px;
    padding-top: 80px;
  }
  .pres_inif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      padding: 20px;
      border-radius: 6px;
      width: 100%;
      background: #fff;
    }
    .pres_inif_title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .pres_inif_img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
    .pres_inif_img img {
      width: 100%;
      height: 100%;
    }
    .pres_inif_name {
      margin: 10px 0;
      font-size: 18px;
      font-weight: 600;
    }

    .pres_inif_nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .pres_inif_nav li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pres_inif_nav li span {
      display: inline-block;
      margin-top: 6px;
    }
    .pres_inif_nav li span:last-of-type {
      font-weight: 600;
    }

    .recent_art_cont {
      display: flex;
      flex-direction: column;
    }
      .recent_art_cont li {
        margin-bottom: 14px;
      }
      .recent_art_cont li span {
        display: inline-block;
        width: 100%;
      }
      .recent_art_cont li span:first-child {
        font-weight: 600;
        margin-bottom: 4px;
      }
      .recent_art_cont li span:last-of-type {
        font-size: 12px;
        color: #848484;
      }
.footer {
  display: flex;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(133, 130, 130);
}

  /* .record {

  } */
