
html, #root{
  height: 100%;
  min-width: 600px;
}

body{
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background-image: linear-gradient(to top, #a8edea, #fed6e3 ); */
  background: #eeeeee;
}

